* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: #fff3c2;
  }
  
  @font-face {
    font-family: 'font1';
    src: url(./Figtree-Regular.ttf);
  }
  
  @font-face {
    font-family: 'font2';
    src: url(./Raleway-Medium.ttf);
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .container h1 {
    font-size: 15vh;
    color: #EEAA0D;
    /* margin-bottom: 20px; */
    font-family: 'font2';
    font-weight: 600;
  }
  
  .container p {
    font-size: 1.5rem;
    font-family: 'font1';
    color: #4A381E;
    font-weight: 300;
    margin-bottom: 20px;
    width: 70%;
    line-height: 1.5;
    text-align: center;
  }
  
  button {
    position: fixed;
    bottom: 120px;
    left: 95vh;
    padding: 10px 20px;
    background-color: #A4764C;
    color: #FFF3C4;
    border: none;
    border-radius: 2vh;
    font-weight: 600;
    cursor: pointer;
    font-size: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'font2';
  }
  
  button:hover {
    background-color: #A7AC1D;
    color:#1F121B;
    transform: scale(1.05);
    transition: 0.3s;
  }
  
  button:active {
    transform: scale(1);
  }